<h3>Modificar Producto</h3>
<hr>
<form>
    <div class="form-group">
        <label for="inputLinea">Linea</label>
        <input type="text" class="form-control" id="inputLinea" placeholder="Ingrese la linea del producto">
    </div>
    <div class="form-group">
        <label for="inputMarca">Marca</label>
        <input type="text" class="form-control" id="inputMarca" placeholder="Ingrese la marca del producto">
    </div>
    <div class="form-group">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Ingrese el nombre del producto">
    </div>
    <div class="form-group">
        <label for="inputCantidad">Cantidad</label>
        <input type="number" class="form-control" id="inputCantidad" placeholder="Ingrese la cantidad del producto">
    </div>
    <div class="form-group">
        <label for="inputValor">Valor Unitario</label>
        <input type="text" class="form-control" id="inputValor" placeholder="Ingrese el valor unitario del producto">
    </div>
    <button type="button" class="btn btn-primary" style="background-color: rgb(3,46,110)">Modificar Producto</button>
</form>