<nav class="navbar navbar-expand {-sm|-md|-lg|-xl} navbar-dark" style="background: rgb(3, 46, 110)">
    <a class="navbar-brand" href="#">
            Lubrifrenos J.H. <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
        </a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contactenos']">Contáctenos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['iniciar-sesion']">Iniciar sesión</a>
            </li>
        </ul>
    </div>
</nav>