<div class="row" style="width: 100%">
    <div class="col" style="width: 100%">
        <div class="card border-dark mb-3">
            <button [routerLink]="['productos']">
                <div class="card-header">Inventario</div>
                <div class="card-body text-dark">
                    <p class="card-text">Gestione su inventario aquí</p>
                </div>
            </button>
        </div>
    </div>
    <div class="col" style="width: 100%">
        <div class="card border-dark mb-3">
            <div class="card-header">Ventas</div>
            <div class="card-body text-dark">
                <p class="card-text">Gestione su ventas aquí</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%">
    <div class="col" style="width: 100%">
        <div class="card border-dark mb-3">
            <div class="card-header">Cuentas por pagar</div>
            <div class="card-body text-dark">
                <p class="card-text">Gestione sus cuentas por pagar aquí</p>
            </div>
        </div>
    </div>
    <div class="col" style="width: 100%">
        <div class="card border-dark mb-3">
            <div class="card-header">Cuentas por cobrar</div>
            <div class="card-body text-dark">
                <p class="card-text">Gestione sus cuentas por cobrar aquí</p>
            </div>
        </div>
    </div>
</div>