<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Escriba acá su nombre">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Teléfono</label>
        <input type="text" class="form-control" id="Telefono" placeholder="Escriba acá su número de contacto">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Correo</label>
        <input type="email" class="form-control" id="Email" placeholder="Escriba acá su email">
    </div>

    <div class="form-group">
        <label for="exampleFormControlTextarea1">Solicitud</label>
        <textarea class="form-control" id="Solicitud" rows="3" placeholder="Escriba acá su solicitud"></textarea>
    </div>

    <div class="col">
        <button type="button" class="btn btn-primary" style="background-color: rgb(3,46,110)" [routerLink]="['inicio']">Enviar solicitud</button>
    </div>
</form>