<div class="row">
    <div class="col">
        <div class="card border-dark mb-3" style="width: 100%;">
            <div class="card-header">
                <h5>¿Quienes somos?</h5>
            </div>
            <div class="card-body text-dark">
                <p class="card-text">
                    Lubrifrenos J.H. es una empresa cuyo propósito es la venta de autopartes enfocados en el sistema de frenado.
                </p>

                <p class="card-text">
                    Este emprendimiento nace en el 2012, donde se vendían exclusivamente lubricantes y frenos, sin emgargo a medida del paso del tiempo, se vio la necesidad de ampliar la gama de productos relacionados, donde se incluyendoron liquido para frenos, kaliers,
                    mordazas, empaqueduras, aceites, grasas, filtros de aire, filtros de gasolina.
                </p>

                <p class="card-text">
                    Somos una empresa que maneja varidad en marcas, y gantizamos la calidad de los productos Como clientes siempre vas a encontrar calidad en tu atención, puesto que este en nuestra mayor preocupación
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <img src="/assets/images/pastillas (1).jpg" class="images">
        <!--<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item" data-interval="2000" margin-left=auto margin-right=auto display=block>
                  <img src="/assets/images/bandas.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="2000" margin-left=auto margin-right=auto display=block>
                  <img src="/assets/images/descarga.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="2000" margin-left=auto margin-right=auto display=block>
                  <img src="/assets/images/discos.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="2000" margin-left=auto margin-right=auto display=block>
                  <img src="/assets/images/filtro aire.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item" data-interval="2000" margin-left=auto margin-right=auto display=block>
                  <img src="/assets/images/filtro.jpg" class="d-block w-100">
              </div>
              <div class="carousel-item active" data-interval="2000" margin-left=auto margin-right=auto display=block width=10% height=10%>
                  <img src="/assets/images/pastillas (1).jpg" class="d-block w-100">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>-->

    </div>