<div class="centrar">
    <form>
        <div class="form-group">
            <label for="Usuario">Usuario</label>
            <input type="text" class="form-control" id="Usuario" placeholder="Ingrese su usuario">
        </div>
        <div class="form-group">
            <label for="Clave">Clave</label>
            <input type="password" class="form-control" id="Clave" placeholder="Ingese su clave">
        </div>

        <button type="button" class="btn btn-primary" style="background-color: rgb(3,46,110)" [routerLink]="['menu']">Iniciar Sesión</button>
    </form>
</div>