<div class="col">
    <div class="row" style="align-content: left">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Buscar">
            <button type="button" class="btn btn-primary" style="background-color: rgb(3,46,110)">Buscar</button>
        </form>
    </div>
    <hr>
    <div class="row">
        <table class="table">
            <thead class="thead-dark" style="background-color: rgb(3,46,110)">
                <tr>
                    <th scope=" col ">#</th>
                    <th scope="col ">First</th>
                    <th scope="col ">Last</th>
                    <th scope="col ">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row ">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row ">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row ">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="col">
    <button type="button" class="btn btn-primary" style="background-color: rgb(3,46,110)" [routerLink]='["crear-producto"]'>Crear Producto</button>
</div>